* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 41, 89);
}

#to-do-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

#todoform {
  border: 2px solid #fff;
  margin: 10px;
}

#enter {
  color: #111;
  font-size: 24px;
  padding: 14px;
  align-self: flex-end;
  justify-content: flex-end;
}

#taskbtn {
  float: right;
  border: none;
  margin-left: 0;
  width: 40%;
  display: flex;
  justify-self: start;
  justify-content: flex-end;
  background-color: rgb(138, 41, 89);
}

#taskList {
  display: flex;
  padding: 10px;
}

#rotate {
  align-self: center;
  margin-inline: 40px;
}

#addtolist {
  background-color: rgb(138, 41, 89);
  width: 60%;
  padding: 16px;
  font-size: 20px;
  border: none;
  align-self: center;
}

#list-item {
  width: 50%;
  align-self: center;
  background-color: rgb(170, 106, 138);
  z-index: 10;
  height: 400px;
  margin-top: 5%;
  border-radius: 5px;
}

.todo-trash {
  background-image: linear-gradient(#6b7280, #3a3644);
  color: #111;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.todo-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
  height: 40px;
  padding: 12px 2%;
  border: 1px solid #6b7280;
  background-color: #fff;
  border-radius: 20px;
}

.todo-div .todos {
  display: flex;
  gap: 30px;
  align-items: center;
}

.todos p {
  font-size: 1.5rem;
  font-weight: 400;
}

.d-none {
  display: none;
}

.fa-ellipsis-vertical {
  margin-right: 10px;
}

.line-through {
  text-decoration: line-through;
}

.list-of-task {
  color: #fff;
  list-style: none;
  align-self: center;
  padding: 10px;
}

.completedButton {
  float: right;
  background-color: inherit;
  padding-right: 6px;
}

.trash-btn {
  float: right;
  margin-right: 1%;
  background-color: inherit;
  border: none;
  display: none;
}

.clear {
  font-size: 20px;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 40%;
  margin: 10% 30%;
  border-radius: 20px;
}

#edith {
  float: right;
}

h1 {
  align-self: center;
  text-align: center;
}
